body{
    margin: 0;
    background-color: #1e1e1e;
    font-family: Inter, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 21.6px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote{
    margin: 0;
    padding: 0;
}

.content-section{
    box-sizing:border-box;
}

.content-section_theme_dark{
    background-color: #131313;
    color: #F5F5F5;
}

.content-section_theme_bright{
    background-color: #FEE42A;
    color: #131313;
}

.header{
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__menu-list{
    list-style: none;
}

.header__menu-item {
    line-height: 1.8;
}

.header__menu-link{
    color:#F5F5F5;
}

.header__menu-item_active{
    text-decoration: none;
}

.cover{
    padding: 7px 20px 0 20px;
    background-image: url(images/cover.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 25px;
}

.cover__title{
    font-family: 'EB Garamond', serif, Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 400;
}

.accent-span{
    display: block;
    line-height: 1;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.intro{
    padding: 30px 20px 38px 20px;
}

.intro__heading{
    color: #CCCCCC;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.intro__title{
    font-weight: 400;
    font-size: 16px;
}

.intro__date{
    white-space: nowrap;
}

.intro__main-text{
    margin: 24px 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reasons{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-section__subtitle{
    font-size: 28px;
    font-family: 'EB Garamond', serif, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.content-section_size{
    font-size: 20px;
    line-height: 27px;
}

.content-section__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 0 16px;
}

.content-section__list-accent{
    font-weight: 700;
}

.how-to{
    padding: 40px 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 30px;
}

.card_theme_dark{
    background-color: #343434;
    color: #F5F5F5;
}

.card_theme_bright{
    background-color: #FEE42A;
    color: #131313;
}

.card__author{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author-photo{
    width: 100px;
}

.card__author-name{
    font-weight: 700;
}

.card__title{
    font-size: 22px;
    font-family: 'EB Garamond', serif, Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0 0 8px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px #FEE42A solid;
}

.footer__links{
    font-size: 14px;
    display: flex;
    gap: 16px;
}